/* Add screen styles below */
header {
    margin-top: 30px;
}

h3 {
    margin-left: 15px;
}

h2 {
    font-size: 20px;
    width: 170px;
    margin: 0px;
    padding: 0px;

}

.print {
    padding-right: 48px;
}

.thumbnail {
    margin-bottom: 20px;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.username {
    width: 170px;
    padding-left: 12px;
    margin-right: 60px;
    padding-top: 4px;
}

.user {
    width: 34px;
    }

.heart {
    width: 28px;
}

.likes {
    width: 38px;
    padding-left: 5px;
    padding-top: 4px;
    margin-right: 12px;
    height: 10px;
}

.eye {
    width: 20px;
    margin-top: 5px;
}

.views {
    width: 48px;
    padding-left: 5px;
    padding-top: 4px;
}

.details {
    margin-top: 40px;
}

.sort {
    width: 20px;
    height: 22px;
}
